.aircraft-container {
  position: relative;
  display: block;
  padding: 10px;
  margin: 5px;

  height: 80px;

  background-color: white;
  font-size: 38px;
  font-weight: 900;
  line-height: 80px;
  text-align: center;
  border-radius: 10px;

  .check-mark {
    display: block;
    width: 30px;
    height: 30px;

    position: absolute;
    z-index: 999;
    bottom: -5px;
    right: -5px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 999;

    background-color: #27bb48;
    color: white;

    border-radius: 100%;
  }
}

.aircraft-with-pilot-container {
  display: flex;
  justify-content: space-between;

  .flex {
    display: flex;
  }

  .tail-number {
    margin-right: 10px;
    display: block;
    height: 50px;
    width: 50px;

    background-color: white;
    font-size: 22px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
  }

  &.logbook {
    overflow: hidden;
    border-radius: 5px;

    .timetable {
      p {
        margin-right: 20px;
      }
    }

    &.exclude {
      background-color: rgba(#ee8481, 0.48);
    }
  }

  p {
    color: white;
    line-height: 50px;

    font-size: 20px;
    font-weight: bold;
  }
}
