body {
  font-family: 'Poppins';
  font-weight: normal;
}

html {
  overscroll-behavior-y: contain;
}

.container {
  padding: 20px;

  background-color: black;
  color: white;

  &.no-padding {
    padding: 0;
  }
}

nav.tabs {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;

  ul {
    display: flex;
    height: 100%;

    li {
      height: 100%;
      width: 100%;

      a {
        display: block;
        height: 100%;
        padding: 0 20px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 18px;
        background-color: #242424;

        &.active {
          background-color: white;
          color: black;

          font-weight: 900;
        }
      }
    }
  }
}

/* Dialogs
	 ========================================================================== */

.confirm-dialog {
  position: absolute;
  padding: 10px;
  top: calc(50vh - 100px);
  left: 10px;
  width: calc(100% - 20px);

  background-color: white;
  color: black;
  box-sizing: border-box;

  border-radius: 5px;

  h2 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
  }

  p {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .controls {
    display: flex;

    & > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Lighting
	 ========================================================================== */

.led {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #c9c9c9;

  &.blue {
    background-color: #1785f7;
  }

  &.red {
    background-color: #e0443a;
  }
}

/* Set up fonts
	 ========================================================================== */

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  font-weight: bold;
}

  /* Forms
  	 ========================================================================== */

input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 22px;
}

button {
  padding: 10px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;

  border: 0;

  &.green {
    color: white;
    background-color: #20c95a;
  }

  &.red {
    background-color: #df3764;
    color: white;
  }

  &.blue {
    background-color: #2a51f9;
    color: white;
  }

  &:disabled {
    background-color: rgba(#9c9c9c, 0.9);
  }
}
